<div fxLayout fxLayout="row" fxLayoutAlign="space-between center">
    <div class="track" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let tracks of tracks">
        <div class="image">
            <img [src]="tracks.album_image" height="auto" width="60px">
        </div>
        <div class="track-text">
            <p class="title"> {{tracks.artist}}</p>
            <p class="artist"> {{tracks.name_track}} </p>
        </div>
        <div class="like">
            <i class="util uil-heart"></i>
        </div>

    </div>
    <div class="player">
        <div class="reproductor">
            <i class="uil uil-angle-left-b"></i>
            <i class="uil uil-play"></i>
            <i class="uil uil-angle-right-b"></i>
        </div>


        <div>

            <div class="line">
                <div class="lineSecond" [style.width]="90+'%'"></div>
            </div>

            <span #progressBar class="time-progress">
                <span class="time-progress-live" [style.width]="100+'%'"></span>
            </span>
            <div class="time" fxLayout fxLayout="row" fxLayoutAlign="space-between center">
                <div>2:20</div>
                <div>3:13</div>
            </div>


        </div>

    </div>

    <div class="other">
        <i class="uil uil-microphone"></i>
        <i class="uil uil-align-justify"></i>
        <i class="uil uil-boombox"></i>
        <i class="uil uil-volume-up"></i>
        <i class="uil uil-maximize-left"></i>
        <!-- <i class="uil uil-volume-mute"></i> -->
    </div>
</div>