li {
    list-style: none;
}
i {
    margin-right: 16px;
    font-size: 28px;
}
.container{
    height: 100%;
    max-width: 280px;
    
}
.line{
    height: 1px;
    width: 90%;
    background-color: grey;
}

li:hover{

    color: white;
}
