li {
    transition-duration: 0.3s;
    list-style: none;
    margin-left: -20px;
}
i {
    margin-right: 16px;
    font-size: 25px;
}
.container {
    height: 100%;
    max-width: 280px;
    position: fixed;
    left: 0;
    top: 0;
}
.line {
    height: 1px;
    width: 90%;
    background-color: grey;
}

li:hover {
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    color: white;
}
span {
    font-size: 13px;
}

.first-menu,
.second-menu {
    line-height: 30px;
}
.thirst-menu {
    line-height: 40px;
}
