li {
    list-style: none;
}
i {
    margin-right: 16px;
    font-size: 25px;
    
}
.container{
    height: 100%;
    max-width: 280px;
    position: static;
}
.line{
    height: 1px;
    width: 90%;
    background-color: grey;
}

li:hover{
    color: white;
}
span{
    font-size: 13px;
    
}

.thirst-menu{
    line-height: 40px;
}
